Host git.gcrest.com git.gcrest.com
  HostName git.gcrest.com
  IdentityFile {{ deploy.private_key_file }}
  User jenkins

Host *
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  User ec2-user
  LogLevel ERROR