<?xml version='1.0' encoding='UTF-8'?>
<scriptApproval plugin="script-security@1.33">
 <approvedScriptHashes>
   <string>09cd1abc8ccc16f4d75d55b52ffec4fbcb481e63</string>
   <string>9e5aed13531d7c9aaa372dd2edc5645247d018d2</string>
 </approvedScriptHashes>
 <approvedSignatures>
   <string>method java.io.File mkdir</string>
   <string>method java.io.File mkdirs</string>
   <string>new java.io.File java.lang.String</string>
   <string>new java.lang.String byte[]</string>
   <string>staticMethod org.codehaus.groovy.runtime.EncodingGroovyMethods decodeBase64 java.lang.String</string>
 </approvedSignatures>
 <aclApprovedSignatures/>
 <approvedClasspathEntries/>
 <pendingScripts/>
 <pendingSignatures/>
 <pendingClasspathEntries/>
</scriptApproval>