Host git.gcrest.com git.gcrest.com
  HostName git.gcrest.com
  IdentityFile {{ ansible.private_key_file }}
  User git

Host *
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  User ec2-user
  LogLevel ERROR